apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: {{ cilium_l2_policy_name }}
spec:
  interfaces:
{% for iface in cilium_l2_policy_interfaces %}
    - {{ iface | quote }}
{% endfor %}
  externalIPs: false
  loadBalancerIPs: true
