apiVersion: v1
kind: Secret
metadata:
  name: smbcreds
  namespace: {{ cifs_namespace }}
type: Opaque
{% set _secrets = lookup('file', role_path + '/defaults/secrets.yml') | from_yaml | default({}) %}
stringData:
  username: "{{ _secrets.get('cifs_nas_user', cifs_nas_user) }}"
  password: "{{ _secrets.get('cifs_nas_pass', cifs_nas_pass) }}"
