global:
  tolerations:
    - operator: Exists

enableV2DataEngine: false

persistence:
  defaultClassReplicaCount: 3
  defaultDataLocality: disabled
  reclaimPolicy: Delete
  migratable: false

defaultSettings:
  backupTarget: ""
  # Keep replicas on RK1 NVMe nodes only
  systemManagedComponentsNodeSelector: "storage:rk1-longhorn"

# Manager (stores replica data) stays on RK1 nodes
longhornManager:
  nodeSelector:
    storage: rk1-longhorn

longhornUI:
  replicas: 1
  nodeSelector:
    storage: rk1-longhorn

ingress:
  enabled: false

csi:
  kubeletRootDir: /var/lib/kubelet
