apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-version-checker
  namespace: {{ version_checker_namespace }}
  labels:
    grafana_dashboard: "1"
data:
  version-checker.json: |
{{ lookup('file', role_path ~ '/templates/grafana-dashboard.json.j2') | indent(4) }}
